Dotnet_Training/onlineExamSystem/onlineExamSystem/Service References/ExamService/exam.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/exam?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="FindExamListByConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="request" nillable="true" type="q1:PassPageParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindExamListByConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="FindExamListByConditionsResult" nillable="true" type="q2:ReturnParamsOfExamListYgFqSxnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPaperListByCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="request" nillable="true" type="q3:PassPageParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPaperListByCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="FindPaperListByCountResult" nillable="true" type="q4:ReturnParamsOfExamResultYgFqSxnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAttendenceByExamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="request" nillable="true" type="q5:PassPageParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAttendenceByExamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="FindAttendenceByExamIdResult" nillable="true" type="q6:ReturnParamsOfAttendanceYgFqSxnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetExamByIdResult" nillable="true" type="q7:Exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindQuestionListByExamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindQuestionListByExamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="FindQuestionListByExamIdResult" nillable="true" type="q8:ArrayOfQuestion" />
        <xs:element minOccurs="0" name="answerStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCurrentAnswerStr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="answerStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCurrentAnswerStrResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExamScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="userAnswer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExamScoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserExamResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUserExamResultResult" nillable="true" type="q9:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUndoExamList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUndoExamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="FindUndoExamListResult" nillable="true" type="q10:ArrayOfExam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>