Dotnet_Training/onlineExamSystem/onlineExamSystem/Service References/ExamService/exam2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PassPageParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNo" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrWhere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PassPageParams" nillable="true" type="tns:PassPageParams" />
  <xs:complexType name="ReturnParamsOfExamListYgFqSxnr">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnParamsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExamList" Namespace="http://schemas.datacontract.org/2004/07/Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfExamList" />
      <xs:element minOccurs="0" name="TotalItem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnParamsOfExamListYgFqSxnr" nillable="true" type="tns:ReturnParamsOfExamListYgFqSxnr" />
  <xs:complexType name="ArrayOfExamList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamList" nillable="true" type="tns:ExamList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamList" nillable="true" type="tns:ArrayOfExamList" />
  <xs:complexType name="ExamList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rownum" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="PassCriteria" type="xs:int" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamList" nillable="true" type="tns:ExamList" />
  <xs:complexType name="ExamResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rownum" type="xs:int" />
      <xs:element minOccurs="0" name="ExamId" type="xs:int" />
      <xs:element minOccurs="0" name="ExamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FactQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="AverageScore" type="xs:float" />
      <xs:element minOccurs="0" name="ExamineeCount" type="xs:int" />
      <xs:element minOccurs="0" name="QualifiedNum" type="xs:int" />
      <xs:element minOccurs="0" name="PassRate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamResult" nillable="true" type="tns:ExamResult" />
  <xs:complexType name="Attendance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassCriteria" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rownum" type="xs:int" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attendance" nillable="true" type="tns:Attendance" />
  <xs:complexType name="ReturnParamsOfExamResultYgFqSxnr">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnParamsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExamResult" Namespace="http://schemas.datacontract.org/2004/07/Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfExamResult" />
      <xs:element minOccurs="0" name="TotalItem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnParamsOfExamResultYgFqSxnr" nillable="true" type="tns:ReturnParamsOfExamResultYgFqSxnr" />
  <xs:complexType name="ArrayOfExamResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamResult" nillable="true" type="tns:ExamResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamResult" nillable="true" type="tns:ArrayOfExamResult" />
  <xs:complexType name="ReturnParamsOfAttendanceYgFqSxnr">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnParamsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Attendance" Namespace="http://schemas.datacontract.org/2004/07/Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfAttendance" />
      <xs:element minOccurs="0" name="TotalItem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnParamsOfAttendanceYgFqSxnr" nillable="true" type="tns:ReturnParamsOfAttendanceYgFqSxnr" />
  <xs:complexType name="ArrayOfAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendance" nillable="true" type="tns:Attendance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendance" nillable="true" type="tns:ArrayOfAttendance" />
  <xs:complexType name="Exam">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FactQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassCriteria" type="xs:int" />
      <xs:element minOccurs="0" name="SingleScore" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exam" nillable="true" type="tns:Exam" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfExam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exam" nillable="true" type="tns:Exam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExam" nillable="true" type="tns:ArrayOfExam" />
</xs:schema>