Dotnet_Training/onlineExamSystem/onlineExamSystem/Service References/FileService/FileServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/file?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/file?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8888/file?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/file?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadData">
    <wsdl:part name="parameters" element="tns:FileUploadData" />
  </wsdl:message>
  <wsdl:message name="FileUploadData_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FileSize" element="tns:FileSize" />
    <wsdl:part name="FileUniqueID" element="tns:FileUniqueID" />
    <wsdl:part name="UserId" element="tns:UserId" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetUploadFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadFileInfo" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetUploadFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetUserIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIcon" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetUserIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIconResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UploadFile" name="FileUploadData" message="tns:FileUploadData" />
    </wsdl:operation>
    <wsdl:operation name="GetUploadFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetUploadFileInfo" message="tns:IFileService_GetUploadFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetUploadFileInfoResponse" message="tns:IFileService_GetUploadFileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIcon">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetUserIcon" message="tns:IFileService_GetUserIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetUserIconResponse" message="tns:IFileService_GetUserIcon_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/UploadFile" style="document" />
      <wsdl:input name="FileUploadData">
        <soap:header message="tns:FileUploadData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileUploadData_Headers" part="FileSize" use="literal" />
        <soap:header message="tns:FileUploadData_Headers" part="FileUniqueID" use="literal" />
        <soap:header message="tns:FileUploadData_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetUploadFileInfo">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetUploadFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIcon">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetUserIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileServiceImpl">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://localhost:8888/file" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>